@import url('../node_modules/react-password-validattor/dist/style.css');
@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-full {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
}
html {
  overscroll-behavior: contain;
  background-color: #1a1a1c;
}
.logo-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
  z-index: 0;
}

.loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: transparent;
  z-index: 9999;
  overflow: hidden;
}

.loading-bar.loading {
  background-color: #3498db; /* Bar color */
  animation: load 3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes load {
  0% {
    transform: translateX(-100%);
    width: 100%;
  }
  50% {
    transform: translateX(100%);
    width: 100%;
  }
  100% {
    transform: translateX(-100%);
    width: 100%;
  }
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.form-container {
  position: relative;
  z-index: 10; 
}


.main-content {
  padding-top: 4.5rem;
}



input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-text-fill-color: #e7e7e7 !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important; 
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}
